.custom-btn {
  --amber: #f59e0b; /* Tailwind amber-500 */
  font-size: 15px;
  padding: 0.5em 1em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--amber);
  background: linear-gradient(
    to right,
    rgba(245, 158, 11, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(245, 158, 11, 0.1) 100%
  );
  color: var(--amber);
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(245, 158, 11, 0.4),
    0 0 9px 3px rgba(245, 158, 11, 0.1);
}

.custom-btn:hover {
  color: #ff9b05; /* lighter amber on hover */
  box-shadow: inset 0 0 10px rgba(245, 158, 11, 0.6),
    0 0 9px 3px rgba(245, 158, 11, 0.2);
}

.custom-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 40%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(245, 158, 11, 0.1) 40%,
    rgba(245, 158, 11, 0.1) 60%,
    transparent 100%
  );
}

.custom-btn:hover:before {
  transform: translateX(15em);
}


.button {
  height: 30px;
  margin: 5px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif ;
  border: solid #0dd906 1px;
  font-size: 16px;
  color: #fff;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #0dd906, #0dd906); 
}




.button:hover {
  box-shadow: 1px 1px 13px #0dd906, -1px -1px 13px ;
  color: #fff;
  transition: 500ms;
}

.button:active {
 
  color: #fff;
  transition: 100ms;
}




.formCancleButton {
  height: 25px;
  margin: 5px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  border: 1px solid #e81b1b; 
  font-size: 16px;
  color:#fff;
  transition: 300ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #e81b1b, #e81b1b);

 
 
}


.formCancleButton:hover {
  box-shadow: 1px 1px 13px #e81b1b, -1px -1px 13px ;
  color: #fff;
  transition: 500ms;
}


.formCancleButton:active {
  transform: scale(0.96);
}



/* form button */
.formButton {
  height: 25px;
  margin: 5px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif ;
  border: solid #0dd906 1px; 
  font-size: 16px;
  color: #fff;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #0dd906, #0dd906); 
  
}

.formButton:hover {
  box-shadow: 1px 1px 13px #0dd906, -1px -1px 13px ;
  color: #fff;
  transition: 500ms;
}

.formButton:active {
 
  color: #fff;
  transition: 100ms;
}